@import url("https://fonts.googleapis.com/css2?family=Montserrat");

$primary: rgb(12, 180, 54);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: unset;
}

.Home {
  padding: 50px;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .list {
    h6 {
      color: $primary;
    }
    margin-top: 20px;
    width: 80vw;
    max-width: 500px;
    font-size: 1.5rem;
    .item {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 20px;
      svg {
        cursor: pointer;
        fill: gray;
        &:hover {
          fill: rgb(247, 84, 84);
        }
      }
      a {
        padding: 10px 20px;
        flex: 1;
      }
      &:hover {
        background-color: #e9e9e9;
      }
    }
  }
  h1 {
    text-align: center;
  }
  .search {
    display: flex;
    align-items: center;
    // gap: 20px;
    background-color: white;
    box-shadow: 2px 4px 9px 0 #00000057, inset 0 0 0 0 #00000057;
    border-radius: 50px;
    width: 80vw;
    max-width: 500px;
    transition: 0.2s;
    &:focus-within {
      background-color: white;
      box-shadow: 0 0 0 0 #00000057, inset 2px 4px 9px 0 #00000057;
    }
    button {
      background-color: transparent;
      border: none;
      &:focus {
        outline: none;
      }
    }
    svg {
      padding: 0 20px;
      width: unset;
      cursor: pointer;
      transform: translateY(3px);
    }
    input {
      flex: 1;
      padding: 10px 20px;
      background: none;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}

.Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid gray;
  h1 {
    color: $primary;
    font-weight: 500;
  }
  button {
    padding: 10px 20px;
    font-weight: 800;
    letter-spacing: 2px;
    background-color: $primary;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    width: 200px;
    &:hover {
      box-shadow: inset 2px 4px 9px 0 #00000057;
    }
    &.copied {
      box-shadow: none;
      color: $primary;
      background-color: white;
      pointer-events: none;
    }
  }
}

.Sheet {
  margin: 10px;
  .grid {
    // padding: 10px;
    overflow: auto;
    position: relative;
  }

  .Cell {
    display: flex;
    min-width: 100px;
    max-width: 100px;
    p {
      text-align: center;
      font-size: small;
      color: gray;
    }
    * {
      border: 0.5px solid grey;
      padding: 0px 3px;
      width: 100%;
    }
    &.nos {
      background-color: rgb(238, 238, 238);
      position: sticky;
      left: 0;
      top: 0;
      z-index: 10;
      margin-right: 3px;
      &#R0 {
        transform: scaleY(0.9);
        transform-origin: 0px 0px;
        background-color: white;
        * {
          visibility: hidden;
        }
      }
      &#column {
        margin-right: 0;
        margin-bottom: 3px;
        z-index: 7;
        position: static;
      }
    }
    input:focus {
      border: none;
      outline: 3px solid $primary;
      z-index: 5;
    }
  }
}
